body {
    font-family: 'Montserrat', sans-serif;
    background-color: #F5F7FA;
}

.main-container {
    display: flex;
    flex-direction: row-reverse;
    width: 1200px;
    background-color: #fff;
    margin: 40px auto;
    border-radius: 20px;
    box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
}

.main-content-container {
    margin: 100px 90px;
}

.about-me-proffesion {
    font-size: 14px;
    font-weight: 700;
    color: #000;
}

.about-me-container {
    width: 400px;
}

.my-projects-container {
    width: 485px;
    margin-top: 40px;
}

.my-work-container {
    margin-top: 50px;
}

.my-education-container {
    width: 350px;
    margin-top: 40px;
}

p {
    color: #A8A8A8;
    font-size: 12px;
    margin-bottom: 8px;
    margin-top: 11px;
}

.work-name-red {
    color: #FB6D3A;
}

h4 {
    margin-top: 0px;
    margin-bottom: 12px;
}

h3 {
    margin-bottom: 12px;
}

.work-ul {
    color: #595959;
}

.vertical-delimiter {
    color: #000;
}

li {
    font-size: 14px;
}


ul {
    padding-left: 15px;
}

.sidebar-container {
    background-color: #1E2939;
    width: 370px;
    border-radius: 20px;
}

.img {
    margin-top: 40px;
    border-radius: 10px;
}

ol {
    padding-left: 15px;
}



.inside-sidebar {
    margin-top: 40px;
    margin-left: 40px;
    color: #fff;
}

.about-me {
    font-size: 14px;
    color: #595959;
}

.inside-sidebar-ul>li {
    color: #FB6D3A;
}

.inside-sidebar-ul>li>span {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #fff;
}

.contact-section {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #565E6A;
}